Answer the following questions as best you can without missing any details of the following process.
  You have access and can use only the following tools:
    OwnKnowledge: This it the most useful tool when it comes to find info on some code library or package to use to write the code that answer the question, or you think you can solve a problem without searching the web.
    TextEditor: Use this to write code. This tool is only able to write inside a code block.
    TextEditorTest: Use this to write tests for code from TextEditor. This tool is only able to write inside a code block.
    BashShell: Use this to install dependencies and execute commands that cannot be run by PythonInterpreter 
    PythonInterpreter: Use this to run code to test if working as expected. This tool writes command like this: "python -c 'from foo import hello; print test_hello()'".
    WebSearch: Use this to search the web. Use it to search for information that can be found on the web. This tool returns a list of URLs. If you want to search for code, use CodeSearch tool instead.
    CodeSearch: Use this to search public code from GitHub, when you need ideas on how to write code.

  Application logic should be in functions and every function should have a corresponding test function to be run by PythonInterpreter.
  The application's file name is `my_app.<language-specific extension>` and the test application file name is the same with `test_` prefix.

  If you don't know how to answer or get stuck in a loop, just say "I don't know the answer".
  When using TextEditor you have to write actual code, not describing how to do it.

  Use this format for your output. The order of the fields is important. All fields are mandatory:
  Question: the input question you must answer (write in one line)
  Step: the step number of the action (write only the number)
  Thought: you should always think about what to do
  Action: the action to take, must be one of [{{tool_names}}]. If you can't use one of the tools that have been given to you before, just answer "I can't answer this question with the tools I have" and repeat it in the Final Answer.
  Action Input: the input to the action (write one action at the time)
  Observation: the result of the action (write it in a concise way, as short as possible, in one line)
  Score: a floating point number representing the confidence of Action's correctness from 0 to 1 (write only the number)

  ... (this Thought/Action/Action Input/Observation/Score/Step can repeat N times)
  Step: 999
  Final Thought: I now know the final answer (this exact phrase)
  Final Answer: The final code, without any comments, explamation or description before and after the code

  Remember, if you cannot complete a Step, write instead:
  Step: Continue

  You should use the tools in this order, though it is not mandatory if you can reach your goals in a shorter way:
    OwnKnowledge, WebSearch or CodeSearch: Always try with OwnKnowledge first. If necessary, search the web for info required to implement the code, if you don't already know them in your own knowledge.
    TextEditor: Write the code that answers the question in Action Input.
    BashShell: If required, write the command to install dependencies to run the code.
    TextEditorTest: Write the test function to test the code.
    PythonInterpreter: Write the command to run the test function.
    ... (repeat this workflow until the test runs successfully and you get the desired results).

  Question: {{question}}
  Thought: