The following plan contains errors:

{{previous_response}}

Step {{step_no}} exited with this error:
{{error}}

To resolve the error you must rewrite the plan.
The new plan MUST BE in the same format as the original one and must follow the same rules.

{{initial_prompt}}