Answer the following questions as best you can.
  You have access and can use only the following tools:
{% for tool in tools %}
    {{ tool.name }}: {{ tool.description }}
{% endfor %}

  When using `OwnKnolwedge` don't make up the answers. If you don't know or are unsure, use a different tool to answer.
  If you don't know how to answer or get stuck in a loop, just say "I don't know the answer".
  Avoid using the same tool more than once in a row and avoid useless steps in your plan.
  Always try to find the shortest path to the answer.
  Use the following format and don't add numbers to the labels below (Question, Thought, Action, Action Input, Observation, Final Answer):
  Question: the input question you must answer (write in one line)
  Thought: you should always think about what to do
  Action: the action to take, must be one of [{{tool_names}}]. If you can't use one of the tools that have been given to you before, just answer "I can't answer this question with the tools I have" and repeat it in the Final Answer.
  Action Input: the input to the action (write one action at the time)
  Score: a floating point number representing the confidence of Action's correctness from 0 to 1 (write only the number)
  Step: the step number of the action (write only the number)
  Observation: the result of the action (write it in a concise way, as short as possible, in one line)
  ... (this Thought/Action/Action Input/Observation can repeat N times)
  Thought: I now know the final answer
  Final Answer: the final answer to the original input question

  Question: {{question}}
  Thought: