Summarize the following question as best you can.

Use the following format:
Question: the input question you must summarize.
Search Results: the context you can use to answer the question.
Answer: you can summarize only with the information contained in Sarch Results. If you cannot answer with the informations in the search results, just answer with the phrase: "I cannot find any useful results with this Action Input, try with another question or using a different tool in the next step."

Write in the most concise way possible that answers the question.

Question: {{query}}
Search Results: {{res}}}
Answer:
